html,
body {
    font-size:18px;
    margin:0;
    padding:0;
    display:flex;
    min-height:100vh;
    flex-direction:column;
    background-color: whitesmoke;
}

/*this is text styling part*/

h1, h2 {
    font-family: 'Amatic SC', cursive;
    text-align:center;
}
/*this is layout part*/

.content {
    display:flex;
    flex:1;
}

header {
    
    height:20vh;
}

footer {
   display:flex;
   justify-content: center;
   height:10vh;
}

article {
    flex:5;
}

aside {
    
    flex:1;
}
/*end of layout part*/

/* this is sidebar layout*/

.nav {
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background-color: rgba(45, 168, 29, 0.9);
    transition: 0.7s;
    overflow-x:hidden;
}

.slide i {
    position:fixed;
    color:black;
}

.nav i {
    color:black;
    float:right;
    margin-top:0.7rem;
}
/* this is sidebar contents*/

img {
    height:5.5rem;
    width:auto;
}

.spine-container {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}

.contents{
    
    margin-left: 2rem;
}

.logo {

    display:flex;
    flex-direction: column;
    align-items:  center;   
}

.logo p {
    font-size:0.5rem;
}

.name {
    margin-top:3rem;
    margin-left: 2.5rem;
}

ul {
    list-style-type: none;

}

.name li {
    font-size:1.5rem;
    font-family: 'Amatic SC', cursive;
}

.contents li {
    font-family: 'Amatic SC', cursive;
    line-height:2rem;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    color:whitesmoke;
}



/*this is navigation buttons inside the footer*/

.navigation-buttons {
    display:flex;
    width:300px;
    justify-content: space-between;
}

.back {
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
width: 100px;
height: 30px;
background-color: whitesmoke;
transition:background-color ease-out 2s;
}

.next {
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
width: 100px;
height: 30px;
background-color: whitesmoke;
  transition:background-color ease-out 2s;

}

.next:hover {
    background-color:rgba(45, 168, 29, 0.9);

}

.back:hover {
    background-color:rgba(45, 168, 29, 0.9);

}

.back i {
    color: black ;
}

.next i {
    color:black;
}

.back i:hover {
    color: white;
}

.next i:hover {
    color:white;
}


/* definable word part */


.definable {
    display:inline;
}
  
.definable .word {
    color:lightslategrey;
    transition:color 1.2s ease-out 0.2s;
}

.definable .word:hover {
    color:rgba(45, 168, 29, 0.9);
}

 .definition-container {
    position: fixed;
    left:0;
    width:100%;
    top:-100%;
    box-sizing: border-box;
    padding:0 2rem;
    background-color: whitesmoke;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);
    opacity:0;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3rem;
    transition: top, opacity 1.2s ease-out 0.2s;
  
  }

  .definable:hover .definition-container {
    top: 0;
    opacity:1;
  }

  .definition-container h4 {
      color: rgba(45, 168, 29, 0.9);
  }

/*mobile media query*/

@media only screen and (max-width:480px) {
    body {
        font-size:2rem;
    }
}
  

  




